body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.app {
  height: 100vh;
}
.app.light {
  background-color: rgb(204, 228, 250);
  transition: background-color 0.4s linear;
}
.app.dark {
  background: #222;
  transition: background-color 0.4s linear;
}

.container {
  margin: auto;
  max-width: 900px;
  padding: 10px;
}

.editor {
  margin-top: 20px;
  margin-bottom: 5px;
}

.editor-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #444;
}

.run-btn {
  background: rgb(51, 201, 89);
  color: rgb(23, 119, 28);
}
.run-btn:hover {
  background: rgb(37, 138, 42);
  color: white;
}
.theme-btn {
  width: 70px;
}
.theme-btn:hover {
  background: #555;
  color: white;
}
.clear-btn {
  background: rgb(221, 85, 85);
  color: rgb(82, 10, 10);
}
.clear-btn:hover {
  background: rgb(199, 46, 46);
  color: white;
}

.CodeMirror {
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 0 0px 5px 5px;
  width: 100%;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.console {
  display: flex;
  flex-direction: column;
  height: 240px;
  overflow: scroll;
  padding-left: 14px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.console.light {
  background: rgb(95, 104, 112);
  transition: background-color 0.8s linear;
}
.console.dark {
  background: #333;
  transition: background-color 0.8s linear;
}
.cnsl-line {
  padding: 6px;
  /* height: 4px; */
  /* font-size: 1rem; */
}

/* // react-split
.gutter {
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.05);
}
.gutter-horizontal {
  cursor: ew-resize;
}
.gutter-vertical {
  cursor: ns-resize;
} */

/*  ----  micro animations ----- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  opacity: 1;
  transition: all 1s ease-out;
  animation-name: fade-in;
}

/* theme button animation */
.theme-icon {
  animation-duration: 0.6s;
  animation-name: fade-up;
}
@keyframes fade-up {
  from {
    margin-top: 100%;
    /* width: 300%; */
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
