// Variables
$main-color: #281F66;
$border:$main-color solid 2px;
$desktop-max-width: 1000px ;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  height: 100vh;
}


.app{
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-areas:
  'top  buttons'
  'bottom  buttons';
  padding: 1%;


  .top-container {
    width:100% ;
    max-width: $desktop-max-width;
    justify-self: end;
    grid-area: top;
  
    .editor {
      border: $border;
      border-bottom: 0;
      background: #C3FAFF;
      
      .CodeMirror {
        font-size: 1.1rem;
        // font-family: "Roboto", sans-serif;
        margin: 0 14px 0 14px;
        border: $border;
        border-top: 0;
      }
    }
  }

  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    grid-area: buttons;

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 100px;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      font-size: 1.2rem;
      cursor: pointer;
      color: $main-color;
      border: $border;
      font-size: 1.4rem;
      font-weight: 600;

      -webkit-box-shadow: -3px 20px 0px 0px $main-color; 
      box-shadow: -5px 14px 0px -5px $main-color;

      .icon{
        font-size: 2rem;
      }

    }

    .run-btn{
      background: rgb(12,204,175);
      background: linear-gradient(180deg, rgba(12,204,175,1) 0%, rgba(195,250,255,1) 100%);
    }
    
    .theme-btn{
      width: 40px;
      height: 100px;
      background: #FFFDCD;
      -webkit-box-shadow: -3px 20px 0px 0px $main-color; 
      box-shadow: 0px 12px 0px -5px $main-color;
      border-radius: 30%;
    }

    .clear-btn{
      background: rgb(245,80,49);
      background: linear-gradient(180deg, rgba(245,80,49,1) 0%, rgba(255,253,205,1) 100%);
    }

  }

  .bottom-container{
    width: 100%;
    max-width: $desktop-max-width;
    background: #C3FAFF;
    justify-self: end;


    .console{
      background: #DDD;
    }
  }
}

.editor-wrapper{
  width: 100%;

  .editor-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 1rem;
    border: $border;
    border-bottom:0;
    background:  #89E7FF;

    .editor-header-inner{
      width: 100%;
      height: 10px;
      background: #638EE8;
    }
  }
}

.bottom-container{
  grid-area: bottom;
}


/////// Tablet Layout //////////////////
  @media (max-width: 768px) {

    .app{
      grid-template-areas:
      'top'
      'buttons'
      'bottom' ;
      grid-template-columns: auto ;
      padding: 1%;

      .button-container{
        flex-direction: row;
        align-items: center;
        border: $border;
        border-top: 0;
        border-bottom: 0;
        padding: 4px 0 4px 0;
        height: 54px;
        background: #C3FAFF;


        .btn{
          flex-direction: row;
          height: 40px;
          width: 20%;
          font-size: 1.2rem;

          -webkit-box-shadow: 0px 10px 0px -6px $main-color; 
          box-shadow: 0px 10px 0px -6px $main-color; 
        }

        .toggle {
          transform: rotate(0);
        }
      }

      .console-wrapper{
        border: $border;
      }
    }
  }



.theme-btn:hover {
  background: #555;
  color: white;
}

.clear-btn:hover {
  background: rgb(199, 46, 46);
  color: white;
}

.bottom-container {
  // max-width: $desktop-max-width;

  .console-wrapper{
    padding: 0 14px 14px 14px;
    border: $border;
    border-top: 0;
    -webkit-box-shadow: 0px 20px 0px -10px $main-color; 
    box-shadow: 0px 20px 0px -10px $main-color;

    .console {
      display: flex;
      flex-direction: column;
      border: $border;
      height: 240px;
      overflow: scroll;
      padding: 2px 14px 2px 8px;
      font-family: "Roboto", sans-serif;
    }
  }

  // .btn{
  //   -webkit-box-shadow: -3px 20px 0px 0px $main-color; 
  //   box-shadow: -5px 14px 0px -5px $main-color;
  // }
}

.console.light {
  transition: background-color 0.8s linear;
}
.console.dark {
  background: #333;
  transition: background-color 0.8s linear;
}


/*  ----  micro animations ----- */
// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
// .fade-in {
//   opacity: 1;
//   transition: all 1s ease-out;
//   animation-name: fade-in;
// }

/* theme button animation */
// .theme-icon {
//   animation-duration: 0.6s;
//   animation-name: fade-up;
// }
// @keyframes fade-up {
//   from {
//     margin-top: 100%;
//     /* width: 300%; */
//     opacity: 0;
//   }
//   to {
//     margin-top: 0%;
//     opacity: 1;
//   }
// }

.toggle {
  transform: rotate(270deg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80px;
  height: 39px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: solid $main-color 1px;
  border: $border;
  cursor: pointer;
  background-color: #FFFDCD;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: '';
  display: block;
  outline: solid $main-color 2px;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: $main-color;
  left: 4px;
  top: 2px;
  border-radius: 50%;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
.toggle:hover:before{
  background:#fff;
}
.toggle:checked:before{
  background:#fff;
}

.toggle:checked {
  background-color: #A39AFF;
}

.toggle:checked:before {
  left: 42px;
}