// Variables
$border:#707070 solid 1px;


body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: auto;
}


.app {
  height: 100vh;
}
.app.light {
  // background-color: rgb(204, 228, 250);
  transition: background-color 0.4s linear;
}
.app.dark {
  background: #222;
  transition: background-color 0.4s linear;
}

.editor-container {
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
  
  .editor {
    width: 100%;
    border: $border;
    border-bottom: 0;

    .CodeMirror {
      font-size: 1.1rem;
      // font-family: "Roboto", sans-serif;
      margin: 0 14px 0 14px;
      border: $border;
      border-top: 0;
    }
  }

  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;

    .theme-btn{
      width: 60px;
      height: 60px;
    }
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  height: 100px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 1.2rem;
  cursor: pointer;
  color: #444;
  border: $border;
}



.run-btn {
}
.run-btn:hover {
}
.theme-btn {
}
.theme-btn:hover {
  background: #555;
  color: white;
}
.clear-btn {
}
.clear-btn:hover {
  background: rgb(199, 46, 46);
  color: white;
}



.bottom-container {
  display: flex;
  max-width: 900px;
  margin: auto;

  .console-wrapper{
    width: 100%;
    padding: 0 14px 14px 14px;
    border: $border;
    border-top: 0;

    .console {
      display: flex;
      flex-direction: column;
      border: $border;
      border-top: 0;
      height: 240px;
      overflow: scroll;
      padding: 2px 14px 2px 8px;
      // color: white;
      font-family: "Roboto", sans-serif;
    }
  }

  .btn{

  }
}


.console.light {
  background: rgb(248, 248, 240);
  transition: background-color 0.8s linear;
}
.console.dark {
  background: #333;
  transition: background-color 0.8s linear;
}
.cnsl-line {
  padding: 6px;
  /* height: 4px; */
  /* font-size: 1rem; */
}

/* // react-split
.gutter {
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.05);
}
.gutter-horizontal {
  cursor: ew-resize;
}
.gutter-vertical {
  cursor: ns-resize;
} */

/*  ----  micro animations ----- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  opacity: 1;
  transition: all 1s ease-out;
  animation-name: fade-in;
}

/* theme button animation */
.theme-icon {
  animation-duration: 0.6s;
  animation-name: fade-up;
}
@keyframes fade-up {
  from {
    margin-top: 100%;
    /* width: 300%; */
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}